<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Perfil</h3>
  </div>
  <div class="panel-body" style="margin:10px;">
    <div class="row">
      <div  class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="border-radius:5px; border:1px solid #CCCCCC; padding:15px;">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          Nombre:
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
          {{userProfile.name}}
        </div>
      </div>
      <div  class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="border-radius:5px; border:1px solid #CCCCCC; padding:15px;">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          Apellido paterno:
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
          {{userProfile.first_last_name}}
        </div>
      </div>
      <div  class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="border-radius:5px; border:1px solid #CCCCCC; padding:15px;">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          Apellido materno:
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
          {{userProfile.second_last_name}}
        </div>
      </div>
      <div  class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="border-radius:5px; border:1px solid #CCCCCC; padding:15px;">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          Correo electronico:
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
          {{userProfile.email}}
        </div>
      </div>
      <div  class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="border-radius:5px; border:1px solid #CCCCCC; padding:15px;">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          Espacio de nombre:
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
          {{userProfile.user_namespace}}
        </div>
      </div>
    </div>
  </div>
</div>